body
{
	background-color: #fdfbfb;
}
.jumbotron
{
	background-image: url(../images/banner.jpg);
	background-size: cover;
	width: 100%;
	background-color: green;
	height: 250px;
	width: 100%;
	margin-bottom: 0px;
}

.container .jumbotron
{
	border-radius: 0px;
}
.jumbotron h2
{
	color: white;
	font-size: 55px;
	padding-top: 35px;
}
.jumbotron h3
{
	color:black;
	font-size: 25px;
	background-color: white;
	display: inline;
	padding:7px 0px;
	opacity: 0.8;

}
footer
{
	width: 100%;
	background-color: #511909;
	color: #65301b;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
header
{
	width: 100%;
	background-color: #511909;
	color: #65301b;
}
table.table thead tr th
{
	font-weight: bold;
}
ul.flow
{
	width:100%;
	margin: 25px 0px;
	min-width: 300px;
}
ul.flow li
{
	float:left;
	width:33.33%;
	margin: auto;
}
ul.flow li img 
{
	margin: auto;
	display: block;
}
ul.flow li p 
{
	text-align: center; 
	font-size: 17px;
	margin-top: 25px;

}
h4
{
	margin-top:50px;
	font-size: 18px;
	font-weight: bolder;
}
.form-group
{
	text-align: left;
}
.form-group.col-sm-2 .control-label
{
	width: 100%;
	text-align: left;
}
.form-horizontal .control-label
{
	text-align: left;
	width: 100%;
}
input#loginEmail.form-control
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#ownerName.form-control
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#ownerPassword.form-control
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#ownerEmail.form-control
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#loginPassword.form-control
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#name_restaurant
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#street_restaurant
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#number_restaurant
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#postalcode_restaurant
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#city_restaurant
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#email_restaurant
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
input#website_restaurant
{
	width: 100%;
	max-width: 350px;
	margin-bottom: 15px;
}
.col-sm-offset-2
{
	margin-left: 0%;
}
p.col-sm-offset-2.col-sm-10
{
	text-align: center;
	width: 100%;
	margin-left: 0%;
	padding-left: 0%;
}
h2 small
{
	background-color: white;
	color: black;
	opacity: 0.8;
	display: inline;
}